.button {
    display: inline-block;
    padding: 15px 30px;
    color: #222;
    background: #b9b5b2;
    border-radius: 9px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .048rem;
    border-bottom: 1px solid #9e9b97;
    text-decoration: none;
    white-space: nowrap;
}

.button--center {
    margin-left: 50%;
    transform: translateX(-50%);
}