.entry-summary {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px auto;
  padding: 15px;
  max-width: 750px;
  background: #efeeec;
  border-bottom: 1px solid rgb(199, 199, 199);
  box-shadow: -3px 7px 14px 0px rgba(40, 34, 34, 0.18);
  text-decoration: none;
}

.entry-summary:hover .entry-summary__info-thumbnail {
  background-size: auto 115%;
}

.entry-summary__info-title {
  display: block;
  font-family: "PT Serif", serif;
  text-decoration: none;
  font-size: 1.15rem;
  color: #222;
}

.entry-summary__info-summary {
  display: block;
  margin: 12px 0 0;
  font-size: 0.85rem;
  color: #555;
  text-decoration: none;
}

.entry-summary__info-author {
  display: block;
  margin: 16px 0 0;
  font-size: 0.85rem;
}

.entry-summary__info-thumbnail {
  flex-shrink: 0;
  margin: 0 0 0 20px;
  width: 80px;
  height: 72px;
  background-size: auto 100%;
  transition: all 0.7s ease;
}

.entry-summary__info-date {
  display: block;
  margin: 5px 0 0;
  font-size: 0.85rem;
  color: #555;
}

@media screen and (min-width: 768px) {
  .entry-summary__info-thumbnail {
    margin: 0;
    width: 150px;
    height: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .entry-summary {
    padding: 24px;
  }
}
