.contact-form {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  background: #ccc;
  border-radius: 4px;
  box-shadow: -2px 2px 14px rgba(40, 34, 34, 0.25);
}

.contact-form input {
  display: block;
  margin-bottom: 15px;
}

.contact-form textarea {
  min-height: 200px;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    margin: 60px auto;
  }
}
