.contact-form {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  background: #ccc;
  border-radius: 4px;
  box-shadow: -2px 10px 17px 0px rgba(40, 34, 34, 0.25);
}

.contact-form input {
  display: block;
  margin-bottom: 15px;
}

.contact-form textarea {
  min-height: 200px;
  margin-bottom: 20px;
}

.contact a {
  color: #1b70bb;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    margin: 60px auto;
  }

  .contact a {
    color: #222;
    text-decoration: none;
    pointer-events: none;
  }
}
