.header {
    position: absolute;
    top: 20px;
    right: 0;
    width: 0;
    border-top: 2px solid #f1f1f1;
    z-index: 5;
    transition: filter .4s;
    animation: menu-grow .5s .2s forwards;
}

.header__logo {
    position: absolute;
    top: 15px;
    left: -10px;
    width: 115px;
    height: 95px;
    background: #222;
    opacity: 0;
    animation: fade-in .4s 1.10s forwards;
}

.header__menu-button {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 10px;
    background: transparent;
    text-transform: uppercase;
    font-size: 1.35rem;
    letter-spacing: 0.045rem;
    color: #fcfcfc;
    white-space: nowrap;
    opacity: 0;
    animation: fade-in .4s .2s forwards;
}

.header__nav {
    display: none;
    margin: 20px 20px 20px 140px;
}

.header__nav-link {
    display: inline-block;
    padding: 1rem;
    color: #fcfcfc;
    text-decoration: none;
    margin-right: 1.5rem;
    white-space: nowrap;
    opacity: 0;
}

.header__nav-link:nth-child( 6 ) {
    animation: fade-in .7s .3s forwards;
}

.header__nav-link:nth-child( 5 ) {
    animation: fade-in .7s .45s forwards;
}

.header__nav-link:nth-child( 4 ) {
    animation: fade-in .7s .6s forwards;
}

.header__nav-link:nth-child( 3 ) {
    animation: fade-in .7s .75s forwards;
}

.header__nav-link:nth-child( 2 ) {
    animation: fade-in .7s .9s forwards;
}

.header__nav-link:nth-child( 1 ) {
    animation: fade-in .7s 1.05s forwards;
}

@media screen and ( min-width: 1024px ) {
    .header__nav {
        display: flex;
    }

    .header__menu-button {
        display: none;
    }
}

@media screen and ( min-width: 1200px ) {
    .header {
        top: 40px;
    }
}

@keyframes menu-grow {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}