.section {
    width: 100%;
    min-height: 100px;
    background: #222;
}

.section--light-grain {

    background: #e6e5e0;
}

.section--padded {

    padding: 30px;
}

.section__panel--padded {

    padding: 30px;
}