.staff-card {
  display: flex;
  position: relative;
  margin: 0 20px 40px;
  padding: 0;
  width: 250px;
  height: 330px;
  background: #fcfcfc;
  text-align: center;
  border-bottom: 2px solid #555;
  transform: translate3d(0);
  transition: all 0.3s;
  box-shadow: -2px 2px 14px rgba(40, 34, 34, 0.35);
  border-radius: 7px;
  overflow: hidden;
}

.staff-card--selected {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 2px 8px 22px rgba(40, 34, 34, 0.35);
}

.staff-card__pic-container {
  display: flex;
  min-height: 230px;
  width: 100%;
}

.staff-card__pic {
  object-fit: cover;
  width: 101%;
}

.staff-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 18px 12px;
  width: 100%;
  min-height: 100px;
  background: #fcfcfc;
  transition: bottom 0.3s;
  z-index: 2;
}

.staff-card__name {
  display: block;
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: #222;
}

.staff-card__title {
  display: block;
  margin: 5px 0 0;
  font-size: 16px;
  color: #676767;
}

.staff-card__bio {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 60px 15px 15px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.85rem;
  color: #fcfcfc;
  z-index: 1;
}
